# Copy this to dev.tfvars and set real passwords
# cp dev.tfvars.example dev.tfvars

environment          = "dev"
enable_modular_stack = true
db_password          = "CHANGE_ME"
redis_password       = "CHANGE_ME"
rabbitmq_password    = "CHANGE_ME"
minio_access_key     = "CHANGE_ME"
minio_secret_key     = "CHANGE_ME"
db_storage_size      = "1Gi"
minio_storage_size   = "2Gi"
grafana_password     = "CHANGE_ME"
